/* ベーススタイル */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh; /* 全画面を覆う */
  background: linear-gradient(to right, #FAF0E6 50%, #ffffff 50%); /* 左半分モカブラウン、右半分白 */
}


nav {
    background-color: #333;
    padding: 10px 0;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 10px 20px; /* パディングを少し追加して間隔を調整 */
    display: flex;
    justify-content: center;
    background-color: #f7f7f7; /* 軽やかなグレーの背景色 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 少しの陰影を追加 */
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: #333; /* テキストをダークグレーに変更 */
    font-weight: bold;
    transition: color 0.3s; /* ホバー時のアニメーションを追加 */
}

.menu a:hover {
    color: #ff6347; /* ホバー時に目立つアクセントカラーを設定 */
}


header {
    text-align: center;
    margin: 30px 0;
}

header h1 {
    font-size: 2.5em;
    color: #333;
}

.intro {
    background-color: #e0f7fa;
    padding: 20px;
    text-align: center;
}

.intro h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
}

.intro .pets img {
    margin: 10px;
    width: 150px;
    height: auto;
    border-radius: 8px;
}

.new-works {
  margin: 50px 0;
  text-align: center;
}

.new-works h2 {
  font-size: 2rem;
  color: #333;
}

.work-items {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.work-item {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  width: 150px;
  text-align: center;
  position: relative;
}

.new-label {
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: #ff6347;
  color: #fff;
  padding: 5px;
  font-size: 0.8rem;
  border-radius: 4px;
  font-weight: bold;
}

